.section-container {
    padding-top: 0.25rem;
    background-color: #ffffff;
    align-items: center;
    text-align: center;
  }
  
.leave-head{
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 2rem;
}
.full-width-xl {
    margin-left: 8rem;
    width: 80%;
  }
  
.data-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }
  
.data-table thead th {
    padding: 0.75rem;
    text-align: center;
    font-size: 0.75rem;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    background-color: var(--blue);
    border-bottom: 1px solid #d2d6dc;
  }
  
.data-table tbody tr:nth-child(even) {
    background-color: #f9fafb;
  }
  
.data-table tbody tr:nth-child(odd) {
    background-color: #ffffff;
  }
  
.data-table td {
    padding: 1rem 0.75rem;
    white-space: nowrap;
    font-size: 0.875rem;
    color: #1f2937;
  }
  
.data-table td.text-gray-500 {
    color: #6b7280;
  }
  
.data-table td.text-blue {
    color: #3b82f6;
  }
  
.data-table td.text-black {
    color: #000000;
  }
  
.data-table a {
    color: #3b82f6;
    text-decoration: underline;
  }
  
.data-table a:hover {
    text-decoration: none;
  }
  
@media (max-width: 1024px) {
    .full-width-xl {
      width: 100%;
    }
  }
  
@media (max-width: 768px) {
    .full-width-xl {
      width: 100%;
    }
  }
  
@media (max-width: 640px) {
    .full-width-xl {
      width: 100%;
    }
  }
  
@media (max-width: 480px) {
    .full-width-xl {
      width: 100%;
    }
  }
  